* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}


body {
  width: 100vw;
  height:100dvh;
  display: flex;
  gap:3rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ae3ec9, #5f3dc4);
}

button {
  height: 4rem;
  padding:1rem;
  border-radius:5px;
  background-color: white;
  color:black;
  border:none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #000000;
  color:#ffffff;
}

input[type="color"] {
  width: 10rem;
  height: 4rem;
  border-radius:10px;
 
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}


/*  classes */

.container {
  border:0.5rem solid black; 
  height: 45rem;
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows:    repeat(var(--grid-size), 1fr);
}

.options {
  border:0.5rem solid black; 
  height: 45rem;
  width: 30rem;
  padding: 2rem;
  gap:1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  background-color: #fff;

}
.border{
  border:0.1px solid rgba(0, 0, 0, 0.3);
}
.row {
  width:20rem;
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: center;
}


.column {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap:2.4rem;
  text-align: center;
  font-weight: 700;
  font-size:1.6rem;
}


/* some styling I found for input type range , not sure about compatibility */

input[type="range"]::-webkit-slider-runnable-track {
  background: #02111c;
  height: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -5px; 
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;    
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #1717 17;
  border-radius: 0.5rem;
  height: 0.5rem;  
}