* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #ae3ec9, #5f3dc4);
}
/* HELPER CLASS */
.border {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.btn {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(15, 192, 39), rgb(100, 193, 221));
  border: none;
  font-weight: bold;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#border-btn {
  position: absolute;
  top: -15%;
  right: 0;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(15, 192, 39), rgb(100, 193, 221));
  border: none;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#fix-size-1 {
  position: absolute;
  top: 5%;
  left: -25%;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(15, 192, 39), rgb(100, 193, 221));
  border: none;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#fix-size-2 {
  position: absolute;
  top: 25%;
  left: -25%;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(15, 192, 39), rgb(100, 193, 221));
  border: none;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
  background-color: #fff;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row {
  display: flex;
  border: none;
  background-color: black;
}

.box {
  background-color: #fff;
  height: calc(50rem / var(--grid-size));
  width: calc(50rem / var(--grid-size));
  flex: 1;
}
